name: Build and test

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-2016

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install dependencies
      run: npm install
    - name: Install Windows tools
      run: npm install -g windows-build-tools
    - name: Postinstall
      run: npm run __postinstall
    - name: Lint
      run: npm run lint
    - name: Start
      run: npm start
    - name: Package
      run: npm run package:win